<footer class="footer bg-dark mt-auto">
    <div class="container py-4">
        <div class="d-flex justify-content-center"><span class="text-muted">&copy; YelpCamp 2021</span></div>
    </div>
</footer>