<%- layout('/layouts/boilerplate') %>

<div class="row">
    <div class="col-8 offset-2">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Error!</h4>
            <p>Request Status Code: <%= err.statusCode %></p>
            <hr>
            <div style="overflow-wrap: break-word;"><%= err.stack %></div>
        </div>
    </div>
</div>
